<div class="collapse navbar-collapse" id="navbarsExample04">
   <ul class="navbar-nav mr-auto">
      <li class="<%= page_name === 'index'&& 'active'%>">
         <a class="nav-link" href="/">Home</a>
      </li>
      <li class="<%= page_name === 'about'&& 'active'%>">
         <a class="nav-link" href="/about">About</a>
      </li>
      <li class="<%= page_name === 'classes'&& 'active'%>">
         <a class="nav-link" href="/classes">classes</a>
      </li>
     
      <% if(userIN) {%>
      <li class="<%= page_name === 'dashboard'&& 'active'%>">
         <a class="nav-link" href="/users/dashboard">dashboard</a>
      </li>
      <%}%>
      <li class="<%= page_name === 'contact'&& 'active'%>">
         <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <% if (!userIN) { %>
      <li class="<%= page_name === 'register'&& 'active'%>">
         <a class="nav-link" href="/register">Register</a>
      </li>
      <%}%>
      <% if (!userIN) { %>
      <li class="<%= page_name === 'login'&& 'active'%>">
         <a class="nav-link" href="/login">Login</a>
      </li>
      <%}%>
      <% if(userIN) {%>
      <li class="<%= page_name === 'add'&& 'active'%>">
         <a class="nav-link" href="/add">Add Class</a>
      </li>
      <%}%>
      <% if(userIN) {%>
      <li class="<%= page_name === 'logout'&& 'active'%>">
         <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      <%}%>
   </ul>
</div>