<%- include('partials/_header.ejs') %>
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <%- include('partials/_navigation.ejs') %>
      <!-- end banner -->
    <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>CREATE A NEW CLASS</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               
               <div class="col-md-6 padding_right0">
                  <% if(flashMessages) { %>
                     <% if(flashMessages.success) { %>
                        <div class="alert alert-success">
                           <%= flashMessages.success %>
                        </div>
                     
                     <% } else if (flashMessages.error) { %>
                        <div class="alert alert-danger">
                           <%= flashMessages.error %>
                        </div>
                     <%}%>
                  <%}%>
                  <form class="main_form" method="POST" action="/classes">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="title" type="text" name="name" required> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="description" type="text" name="description" required> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="price" type="number" name="price" required>                          
                        </div>
                        
                        <div class="col-md-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
               
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
      <%- include('partials/_footer.ejs') %>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>